    PORT=backend_port

    JWT_SECRET = klñadsjfñklajsñklejfañioja6sd4f64ew94f48d4fs54
    REFRESH_TOKEN = ñkldjfw8fu089adsfu0ad8f087d09f87a9ds8f

    DB_HOST = db_host
    DB_PASSWORD = 123456
    DB_NAME = db_name
    DB_USER = db_user
    DB_PORT = db_port


